/* About */
.MissieSection {
    text-align: center;
    padding: 40px; /* Voeg padding toe zoals gewenst */
    background-color: #34495e; /* Achtergrondkleur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schaduweffect */
    height: 50vh;
}

.dog-service-text {
    text-align: center;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dog-service-text p,
.dog-service-text h1,
.dog-service-text h2,
.dog-service-text h3 {
    font-size: 20px; /* Increase font size for better readability */
    line-height: 1.5; /* Increase line height for better readability */
}

.dog-service-text h1 {
    font-size: 24px; /* Increase font size for main headings */
}

.dog-service-text h2 {
    font-size: 22px; /* Increase font size for subheadings */
}

.dog-service-text h3 {
    font-size: 20px; /* Increase font size for sub-subheadings */
}

.MissieSection h2 {
    margin-bottom: 20px; /* Ruimte onder de titel */
    font-size: 24px; /* Grootte van de titel */
    color: white;
}

.MissieSection p {
    margin-bottom: 10px; /* Ruimte onder de alinea's */
    font-size: 16px; /* Grootte van de alinea's */
    color: white;
}
